<div class="bg-productList">
<div class="container mt-100">
    <h3>Product List</h3>
    <div class="row">        
        <div class="col-md-4 col-sm-6" *ngFor="let product of products">
            <div class="card mb-30">
                <a class="card-img-tiles" href="#" data-abc="true">
                    <div class="inner">
                        <div class="main-img text-center"><img src="{{product.img}}" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p class="text-muted"> {{ product.line }}</p>
                    <p class="text-muted"> {{ product.price | currency }}</p>
                    <a class="btn btn-outline-primary btn-sm" (click)="addToCart(product)" >Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>


